# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# Unity cache / VS / Rider
.vs/
.idea/
*.csproj
*.sln
*.userprefs
*.pidb
*.suo
*.pdb
*.mdb
*.opendb
*.VC.db

# Recovery
Assets/_recovery
# OS
.DS_Store
Thumbs.db
Desktop.ini

# Claude Code
claude.md
.claude/
